
body {
    font-family: "Times New Roman";
    margin: 0;
    box-sizing: border-box;
  }
header {
    background-color: rgba(229, 229, 229, 1);
    text-align: center;
}
header img {
    padding-top: 20px;
    padding-bottom: 20px;
}
main {
    margin-top: 123px;
    margin-bottom: 123px;
    display: flex;
    justify-content: center;
}
section {
    width: 1041px;
}
span {
    font-weight: bold;
}


.footer {
    text-align: center;
    background-color: rgba(0, 86, 119, 1);
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    background-color: rgba(196, 196, 196, 1);
    letter-spacing: 0.3em;
    color: rgba(0, 86, 119, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 16.94px;
    letter-spacing: 0.1em;
    color: rgba(0, 86, 119, 1);
    background-color: rgba(196, 196, 196, 1);
    padding: 6px 0px 7px 9px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.lista span {
    font-style: italic;
}
footer {
    color: rgba(255, 255, 255, 1);
    font-family: 'Times New Roman';
    text-transform: uppercase;
    letter-spacing: o.1em;
    font-size: 20px;
    line-height: 17px;
}